// material theme colors
// The theme primary color
$mdc-theme-primary: #344955;
$mdc-theme-primary-dark: #0b222c;
$mdc-theme-primary-light: #5f7481;
// text color on top of a primary background
$mdc-theme-on-primary: #ffffff;
// The theme secondary color
$mdc-theme-secondary: #f9aa33;
$mdc-theme-secondary-dark: #c17b00;
$mdc-theme-secondary-light: #ffdc65;
// text color on top a secondary background
$mdc-theme-on-secondary: #000000;
// The theme surface color
$mdc-theme-surface: #fffbfa;
//text color on top of a surface background
$mdc-theme-on-surface: #000000;
// The theme background color
$mdc-theme-background: #ffffff;
// text color on top of theme background
$mdc-theme-on-background: #000000;

// material component style imports
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/card/mdc-card";
@import "@material/typography/mdc-typography";
@import "@material/dialog/mdc-dialog";
@import "@material/switch/mdc-switch";
@import "@material/slider/mdc-slider";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/list/mdc-list";
@import "@material/chips/mdc-chips";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";

@import "./homepage.scss";
@import "./viewer.scss";

// app styles
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}
i.mdc-text-field__icon:focus {
  outline-width: 0;
}
body:after {
  content: "Test";
  z-index: 10;
  position: fixed;
  width: 80px;
  height: 25px;
  background: red;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform: rotate(-45deg);
}

.top-app-bar {
  align-items: center;
  background-color: $mdc-theme-primary;
  display: flex;
  flex-wrap: nowrap;
  height: 64px;
  max-height: 64px;
  color: white;
  padding: 8px 12px;
  position: fixed;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  z-index: 4;
}
.top-app-bar__section {
  display: inline-flex;
}
.top-app-bar__section--align-start {
  justify-content: flex-start;
  flex-grow: 1;
  max-width: 500px;
}
.top-app-bar__section--align-end {
  justify-content: flex-end;
}
.top-app-bar__title {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
  padding-left: 20px;
  padding-right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}
.content {
  line-height: 140%;
  position: absolute;
  top: 64px;
  width: 100%;
}
.contents {
  border-bottom: 1px dashed grey;
  cursor: pointer;
  padding: 8px 0;
}
.sidebar {
  background-color: white;
  border: 1px solid $mdc-theme-primary;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  max-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);
  max-width: 250px;
  min-width: 250px;
  overflow-y: auto;
  padding: 8px;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: top left;
  -webkit-box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.75);
  /* the transition property is set under router.js */
}
.sidebar__close {
  width: 100%;
}
.sidebar__content {
  font-size: 0.9em;
  max-height: 100vh;
  overflow-y: auto;
  padding: 8px;
}
.mdc-dialog {
  //change with/height via mixin
  @include mdc-dialog-min-width(80vw);
}
//credits: https://css-tricks.com/fluid-width-video/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
