.search {
  @include mdc-text-field-fill-color(rgba(249, 170, 51, 0.9));
  @include mdc-text-field-shape-radius(4px);
  @include mdc-text-field-bottom-line-color(white);
  @include mdc-text-field-hover-bottom-line-color(white);
  @include mdc-text-field-line-ripple-color(white);
  @include mdc-text-field-height(40px);
  display: none;
  width: 100%;
}

#map {
  background-size: 20px 20px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  height: calc(100vh - 64px);
  height: calc(var(--vh, 1vh) * 100 - 64px);
  width: 100vw;
}
@keyframes basemap {
  0%,
  100% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-2px);
  }
  66% {
    transform: translateX(2px);
  }
}
.animate {
  animation: basemap 0.3s 1 forwards;
}
.basemapControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
.basemap {
  box-shadow: 0 2px 4px 0 #4a4a4a;
  cursor: pointer;
  width: 56px;
  height: 56px;
  border: 2px solid $mdc-theme-secondary;
}
.basemapControl__title {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 11px;
  text-align: center;
}
.vhmControl {
  align-items: center;
  box-shadow: 0 2px 4px 0 #4a4a4a;
  border: 2px solid $mdc-theme-secondary;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 56px;
  position: absolute;
  right: 0.5em;
  top: 80px;
  width: 56px;
}
.vhmControl__title {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 11px;
  text-align: center;
  width: 100%;
}
.vhm__text {
  align-items: center;
  color: $mdc-theme-primary;
  display: flex;
  font-size: 12px !important;
  font-weight: bold;
  height: 100%;
}

.viewerControl__title,
.viewerControl__controls {
  align-items: center;
  box-shadow: 0 2px 4px 0 #4a4a4a;
  display: flex;
  flex-wrap: wrap;
  min-width: 245px;
  max-width: 245px;
  padding: 16px 8px;
  position: absolute;
}

.viewerControl__controls-control {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.viewerControl__controls-control:not(:last-child) {
  margin-bottom: 12px;
  border-bottom: 1px dotted grey;
}

.viewerControl__title {
  background-color: $mdc-theme-secondary;
  cursor: pointer;
  left: 0em;
  top: 0em;
  padding: 8px;
}

.viewerControl__controls {
  background-color: rgba(255, 255, 255, 0.9);
  top: 2.5em;
  left: 0;
  transform: scale(1, 1);
  transform-origin: top left;
  transition: transform, opacity, 0.3s;
}

.viewerControl__helpertext {
  font-size: 13px;
  padding: 0 0 16px 0;
}

.title__arrow {
  transition: transform 0.3s;
}

.layerinfo-button {
  width: 30px;
  height: 30px;
  padding: 0;
}

.slidercontainer {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
}

.mdc-slider {
  margin-right: 12px;
}

.basemapControl:hover {
  background-color: none;
}

.ol-attribution {
  font-size: 11px;
}

.ol-zoom {
  bottom: 2em !important;
  right: 0.5em !important;
  top: unset !important;
  left: unset !important;
}

.autocomplete {
  background-color: white;
  max-height: 400px;
  overflow-y: scroll;
  position: absolute;
  top: 56px;
  transform: scale(1, 0);
  transform-origin: top left;
  transition: transform, 0.3s;
}

.mdc-chip-set {
  padding-bottom: 12px;
}
.mdc-chip__text {
  font-size: 11px;
}

.mdc-chip--selected {
  background-color: $mdc-theme-secondary;
}

.layers {
  border-top: 1px dotted grey;
  padding-top: 12px;
}
